.Contact{
    width: 100%; 
    height: 50%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.FormContainer{
   height:40%;
}
.ContactForm{
    height: 20%;
    width: 50%;
    display: grid;
    grid-template-rows: 20% 20% auto 20%;
    grid-template-columns: auto;
}
input{
    height: 25px;
    color: black;
}
textarea{
    color: black;
}

label{
    display:block;
}
.submit{
  position: relative; 
  left: calc(100% - 150px);
  height:50%;
  width: 150px;  
}