.Contact{
    width: 100%; 
    height: 50%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    
}
.FormContainer{
   height:500px;
   margin-bottom: 20px;
}
.ContactForm{
    height: 100%;
    display: grid;
    grid-template-rows: 20% 20% 40% 20%;
    grid-template-columns: auto;
}
input{
    height: 25px;
    color: black;
    box-shadow: inset 0 2px 6px 0 hsla(0, 0%, 0%, .09);
    border-radius: 2px;
    border: none;
}
textarea{
    color: black;
    box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, .08);
    border-radius: 2px;
    border: none;
}

label{
    display:block;
}

.Submit{
  position: relative; 
  left: calc(100% - 150px);
  height:50%;
  width: 150px;  
}