html {
  width:100%;
  margin: 0;
  padding:0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #2D3E36;
}
body {
  height:100%;
  margin: 0;
  padding:0;
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  color: #E8E8D7;
}
a{
  text-decoration: none;
}
.Content{
  margin-top: 5.5em;
  width: 100%;
  min-height:100vh;
}
