.Header{
    display: inline-flex;
    position:fixed;
    top:0;
    width: 100%;
    padding: 20px 60px;
    margin-bottom: 1.45rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: #708A82;
    z-index: 500;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2); 
    transition-property: box-shadow, background-color;
    transition-duration: .2s, .4s;
}
.top{
    box-shadow: none; 
    background-color: #2d3e36;
    
}