.Footer{
    position:relative;
    bottom:0;
    width:100%;
    height:100%;
    background-color: #293932;
    z-index: 500;
    overflow-y:hidden;
}

.FooterItems{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding:20px; */
}
